html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: large;
}

.wait,
.wait *:hover {
  cursor: wait !important;
}

* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 800;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;
  align-items: center;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  margin: auto;
  padding: 32px 64px;
}

.no-placeholder:focus::placeholder {
  color: transparent;
}

.no-pointer {
  cursor: default;
}

input.blank {
  background-color: transparent;
  border: none;
  outline: none;
}

a.blank {
  text-decoration: none;
  color: inherit;
}

button.blank {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.no-focus-outline:focus {
  outline: none;
}

.light-placeholder::-webkit-input-placeholder {
  color: lightgray;
}

/* Tweet */

.tweet {
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  border: 1px solid white;
}

.tweet.dark {
  background-color: rgb(30, 30, 35);
  border: 1px solid grey;
}

.tweet__header {
  font-size: 0.8em;
  display: flex;
  margin: 0;
  align-items: center;
}

.tweet__header-logo {
  margin-left: auto;
}

.tweet__header-avatar {
  margin-right: 15px;
}

.tweet__header-avatar-img {
  object-fit: cover;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.tweet__header-name {
  color: black;
  margin: 0;
}

.tweet__header-name.dark {
  color: white;
}

.tweet__header-username {
  color: grey;
  margin: 0;
}

.tweet__header img {
  object-fit: contain;
  padding: 0;
  margin-right: 10px;
}

.tweet__content {
  font-size: 0.8em;
  margin: 0;
}

.tweet__content-text {
  margin: 5px 0;
  color: black;
}

.tweet__content-text a {
  text-decoration: none;
}

.tweet__content-text.dark {
  color: white;
}

.tweet__footer {
  margin-top: 15px;
  display: flex;
  font-size: 0.8em;
}

.tweet__footer-date {
  color: grey;
  margin-left: auto;
  text-align: right;
}

.tweet__content-media {
  border-radius: 10px;
}

.tweet__image-container {
  width: 100%;
}

.tweet__image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  overflow: hidden;
}

.tweet__image:hover {
  cursor: pointer;
}

/* Gitter */
.gitter-open-chat-button {
  display: none;
}
